/* .gradient-custom {
    
    background: #6a11cb;
    
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgb(73, 75, 79));
 
    background: linear-gradient(to right, rgb(211, 183, 241), rgb(235, 160, 195))
    } */